<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/formStyles.css">
</head>

<body>
  <%- include("./partials/header.ejs")%>
    <main>
      <div class="main-contaner">
        <div class="main-title">
          <h1>Edit post</h1>
        </div>
        <div class="alight-center">
          <form action="/edit/<%= post._id %>?_method=PUT" method="post">
            <div class="form-element">
              <label for="title">
                Title
              </label>
              <input id="title" type="text" name="title" required placeholder="title" value="<%= post.title %>">
            </div>
            <div class="form-element">
              <label for="author">
                Author
              </label>
              <input id="author" type="text" name="author" placeholder="author" value="<%= post.author %>">
            </div>
            <div class="form-element">
              <label for="text">
                Text
              </label>
              <textarea id="text" name="text" cols="30" rows="5" required placeholder="text"><%= post.text %></textarea>
            </div>
            <input type="submit" value="Edit post">  
          </form>
        </div>
      </div>
    </main>
    <%- include("./partials/footer.ejs")%>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>